* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  background-color: #caffbf;
}

.menu {
  width: 1000px;
  margin: auto;
  position: relative;
}

.logo {
  height: 100px;
  float: left;
}

.menu-utama {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 100px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background-color: #caffbf;
  border-bottom: 3px solid #000000;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a img {
  width: 30px;
  padding: 0px 15px 0px 15px;
}

.tombol:hover {
  background-color: #8fd6f6;
  border-radius: 50%;
  margin-top: 10px;
  padding: 30px 0px 15px 0px;
  cursor: pointer;
}

.tulisan {
  color: #000000;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

.tengah {
  text-align: center;
  width: 100%;
}

.list-menu {
  width: 95%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.isi-menu {
  width: 20%;
  margin: 0 auto;
}

.isi-menu img {
  width: 60%;
  -webkit-transition: 2s ease;
  transition: 2s ease;
}

.isi-menu:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.footer-main {
  background-color: #8fd6f6;
  text-align: center;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin-top: 146px;
}

.list-anggota {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.isi-anggota {
  width: 30%;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
}

.isi-anggota img {
  width: 25%;
  border-radius: 50px;
}

.nama {
  color: #000000;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.footer-about {
  background-color: #8fd6f6;
  text-align: center;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin-top: 59px;
}

.tabel table {
  width: 350px;
  background-color: #caffbf;
  margin: auto;
  position: relative;
  align-self: center;
}

.footer-login {
  background-color: #8fd6f6;
  text-align: center;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin-top: 312px;
}

.tombol-home {
  color: #000000;
  border-radius: 20px;
  padding: 10px 15px 10px 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-decoration: underline;
}

.tombol-home:hover {
  background-color: #8fd6f6;
}

.cari {
  float: right;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  width: 40%;
}

.footer-buku {
  background-color: #8fd6f6;
  text-align: center;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin-top: 63px;
}

.footer-input-buku {
  background-color: #8fd6f6;
  text-align: center;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin-top: 170px;
}

.footer-anggota {
  background-color: #8fd6f6;
  text-align: center;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin-top: 31px;
}

.footer-transaksi {
  background-color: #8fd6f6;
  text-align: center;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin-top: 31px;
}

body,
input,
button {
  font-family: "Open Sans", sans-serif;
}

input,
button {
  font-size: 16px;
}

main {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 16px;
}

.input_section {
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.input_section > h2 {
  text-align: center;
  color: cornflowerblue;
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > button {
  background-color: #6495ed;
  color: white;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.input_section > form > button > span {
  font-weight: bold;
}

.input_section > form > .input > input {
  display: block;
  width: 98%;
  padding: 8px;
  border-radius: 5px;
}

.input_section > form > .input > label {
  color: cornflowerblue;
  font-weight: bold;
}

.input_section > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input_section > form > .input_inline > label {
  color: cornflowerblue;
  font-weight: bold;
  margin-right: 10px;
}

.search_section {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.search_section > h2 {
  color: cornflowerblue;
}

.search_section > form {
  padding: 16px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 0.5fr;
  grid-gap: 10px;
}

.search_section > form > label {
  display: flex;
  align-items: center;
}

.search_section > form > input {
  padding: 5px;
  border-radius: 5px;
}

.search_section > form > button {
  background-color: cornflowerblue;
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf {
  margin: 20px;
  border: 1px solid black;
  padding: 16px;
  border-radius: 10px;
}

.book_shelf > h2 {
  color: cornflowerblue;
}

.book_shelf > .book_list {
  padding: 16px;
}

.book_shelf > .book_list > .book_item {
  padding: 8px 16px 16px 16px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3,
p {
  margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
  border: 0;
  padding: 5px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
  background-color: darkgreen;
  color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
  background-color: darkred;
  color: white;
}

@media screen and (max-width: 999.99px) {
  .menu {
    width: 85%;
  }
  .input_section > form > .input > input {
    display: block;
    width: 90%;
    padding: 8px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 768px) {
  .tulisan {
    font-size: 25px;
  }
  .isi-menu {
    width: 100%;
    padding: 30px;
  }
  .isi-menu img {
    width: 40%;
  }
  .isi-anggota {
    width: 100%;
  }
  .isi-anggota img {
    width: 30%;
  }
  .cari {
    width: 100%;
  }
  .input_section > form > .input > input {
    display: block;
    width: 90%;
    padding: 8px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 576px) {
  .tulisan {
    font-size: 20px;
  }
  .isi-menu {
    width: 100%;
    padding: 30px;
  }

  .isi-menu img {
    width: 35%;
  }

  .tulisan-menu {
    font-size: 20px;
  }
  .input_section > form > .input > input {
    display: block;
    width: 90%;
    padding: 8px;
    border-radius: 5px;
  }
}
